<% provide(:title, "All users") %>

<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <!-- Code for Gravatar image -->
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>