<section class="user_info">
  <h1>
    <%= avatar(user) %>
    <%= user.name %>
  </h1>
  <%= link_to pluralize(user.friends.count, "friend"), friends_user_path(user) %>
</section>
<section class="post_form">
  <%= render 'shared/post_form' %>
</section>
<!-- Friends -->