<div class="row">
  <div class="col-md-8">
    <ol class="posts">
      <%= render 'post', post: @post %>
    </ol>
  </div>

  <div class="col-md-4 likes">
    <h3 class-"text-center">Likes (<%= @post.likes.count %>)</h3>
    <% if @post.likes.any? %>
      <% @post.likes.each do |like| %>
        <%= render 'users/user', user: like.user %>
      <% end %>
    <% end %>
  </div>
</div>