@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
  box_sizing:          border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

#requests {
  font-weight: bold;
  color: red;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #e5e5e5;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar {
  background-image: linear-gradient(#66327a, #40005a);
}

.nav.navbar-nav.navbar-right {
  li a {
    color: #e5e5e5;
    &:hover {
      color: #ecdbff;
      text-decoration: none;
    }
  }
  .dropdown-menu li a {
    color: black;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#user_remember_me {
  width: auto;
  margin-left: 0;
}

#accept {
  position: relative;
}

#ignore {
  position: relative;
}

.btn-xs {
  width: auto;
  //display: inline;
}

.dropdown-menu {
  width: auto;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* flash */

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
