<footer class="footer">
  <small>
    odinbook was created by <a href="http://github.com/Timecrash">Matt Velez</a>
    for <a href="http://www.theodinproject.com/">The Odin Project</a>'s 
    <a href="http://www.theodinproject.com/ruby-on-rails/final-project">Final Rails Project</a>.
  </small>
</footer>
